@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'namamiRegular';
  src: url('/fonts/nanami/Nanami-Regular.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'nanamiBook';
  src: url('/fonts/nanami/Nanami-Book.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'nanamiBold';
  src: url('/fonts/nanami/Nanami-Bold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'nanamiLight';
  src: url('/fonts/nanami/Nanami-Thin.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'urbanist';
  src: url('/fonts/urbanist/Urbanist-Regular.ttf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

